<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> MyWeb </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header>
            <h1>~~ Welcome to My Page! ~~</h1>
            <h2> Biodata </h2>
        </header>

        <main>
            <div>
                <table>
                    <tr>
                        <td>Nama:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Karina Aulia Putri</td>
                    </tr>
                    <tr>
                        <td>NPM:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>1906298954</td>
                    </tr>
                    <tr>
                        <td>Angkatan:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>2019</td>
                    </tr>
                    <tr>
                        <td>Hobi:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            Baca novel, nonton film/drama korea dan ngegame
                        </td>
                    </tr>
                    <tr>
                        <td>Universitas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>Universitas Indonesia</td>
                    </tr>
                    <tr>
                        <td>Riwayat Pendidikan:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            SMPN 2 Depok <br>
                            SMAN 5 Depok <br>
                            Universitas Indonesia
                        </td>
                    </tr>
                    <tr>
                        <td>Media Sosial:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            Instagram: @karina.aulia <br>
                            Line ID: karinaaulia30
                        </td>
                    </tr>
                </table>
            </div>
            <details>
                <summary>
                    Deskripsi singkat
                </summary>
                Aku tipe orang yang jarang keluar rumah, mudah bosan,
                suka KPOP dan drama korea, suka iseng edit foto dan video
            </details>
        </main>

        <aside>
            <img src= "{% static 'Fotoku.jpg' %}" alt="Foto Karina" height="340" width="340">
        </aside>
    </body>

</html>
