body{
    background-color: whitesmoke;
}
h1{
    color: rgb(77, 89, 100);
    font-size: 1.5cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: white;
    background-image: linear-gradient(to right, #43cea2, #185a9d);
}
main{
    color: rgb(67, 70, 94);
    background-color:white;
    float: left;
    width: 60%;
    font-size: larger;
    line-height: 0.75cm;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
aside{
    float: left;
    width: 30%;
}
details{
    font-weight: lighter;
    color: white;
    width: 50%;
    background-image: linear-gradient(to right, #43cea2, #185a9d);
    padding: 0.5%;
}